.ab
{
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    color: black;
    font-weight: bold;
}

h2
{
    font-weight: bold;
    text-shadow: 2px 2px ;
    color:red;
}
.cd
{
    font-weight: bold;
    font-style: italic;
    color: red;
    text-align: center;
    text-shadow: 2px 2px white;
    font-family: Algerian;
    background-color: blue;
}

.xy
{
    font-size: 40px;
    font-weight: bold;
    color:blue;
    text-shadow: 4px 4px white;
    font-family: arial black;
}


